*{margin:0;padding:0;}
#password{
	display:block;
    width: 200px;
	padding:10px 20px;
	border:1px solid #c8c8c8;
	color:#333;
    margin: 20vh auto 0;
    text-align:center;
}
#password>p{
	font-size: 12px;
    color: #888;
}
.tips{
	display:inline-block;
	padding:3px 8px;
	border:1px solid #b9b8b8;
	margin-right:10px;
}